@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #C3CEDA, #738FA7, #0C4160);
}

h1{
    color: #071330;
    text-align:center;
    text-shadow: 1px 1px 0px #050d208c;
}

h2{
    color:#D83B23;
}

main{
    text-align: justify;
    background-color: #ffffff;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #07133080;
}
